<div class="wrapper">
    <div>
        <h1><a class="title" routerLink="/">Products App</a></h1>
    </div>
    <div class="links">
        <a class="link" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">Products</a>
        <a class="link" routerLink="/signup" routerLinkActive="selected">Sign Up</a>
        <a class="link" routerLink="/login" routerLinkActive="selected">Log In</a>
        <a class="link" routerLink="/cart" routerLinkActive="selected"><i class="fa-solid fa-cart-shopping"> cart</i></a>

    </div>

</div>